<head>
  <link href="/assets/models.css" rel="stylesheet">
</head>

<body>
  <p id="notice"><%= notice %></p>

  <div class="container">
      <div class="row">
          <div class="section-title">
              <h2><%= @service.name %></h2>
              <p><strong>Description: </strong> <%= @service.description %> </p>
              <p><strong>Website: </strong> <%= @service.website %> </p>
              <% if @service.city != nil %>
                <p><strong>City: </strong> <%= @service.city.name %> </p>
              <% end %>
              
              <p><strong>Founded: </strong> <%= @service.founded %> </p>
              <p><strong>Topic: </strong> <%= @service.topic %> </p>
              <% if @service.countries.size != 0 %>
                <p> <strong> Countries: </strong> </p>
                  <% @service.countries.each do |country| %>
                    <h4><%= link_to country.name, country %> </h4>
                  <% end %>
              <% else %>
                <p style="color:red;"> There are no countries associated with this service <%= @country.name %> </p>
              <% end %>
          </div>
          <br><br>
          <%= link_to 'Edit', edit_service_path(@service) %>
          <%= link_to 'Back to All Services', services_path %>
      </div>
  </div>
  
</body>


